:root {
    --color:#655021;
    --bg-color:#faf4e1;
    --card-color: rgb(158, 158, 8);

    --blue: #7289d0;
    --cream: #faf4e1;
    --olive:rgb(196, 196, 81);
    --orange: rgb(255, 56, 45);
    
    --body-copy: 1.5rem;
    --heading-copy: calc(var(--body-copy)*5);

    --gutter: 2rem;
    --vertical: 4rem;
}

h1 {
    color: var(--blue);
    font-size: var(--heading-copy);
}

hgroup {
    background-color: var(--cream);
    padding-block: var(--gutter);
}

body {
    font-family: sans-serif;
    color: var(--color);
    background-color: var(--olive);
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
    
}

main {
    padding-inline:var(--gutter);
    padding-block: var(--vertical);
}

li {
    background-color: antiquewhite;
    padding-block: var(--gutter);
    padding-left: calc(var(--gutter)/2);
    border: .1rem solid var(--card-color);
    border-radius: 1rem;

}


ul {
    padding-inline: var(--gutter);
    display: grid;
    gap: var(--gutter);
}

.reverse{
    color: var(--bg-color);
    background-color: var(--blue);
    padding-inline: var(--gutter);
    padding-block: var(--vertical);
}