:root {
    --color:black;
    --bg-color:beige;
    
    --body-copy: 1rem;
    --heading-copy: calc(var(--body-copy)*3);

    --gutter: 2rem;
    --vertical: 4rem;
}

body {
    font-family: sans-serif;
    color: var(--color);
    background-color: var(--bg-color);
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
    
}

/* wanted to add a pattern in the background */
/* found this pattern collection: https://css-pattern.com/cube-columns/ */
body {
  --s: 182px; /* control the size*/
  --c1: #84b0e9;
  --c2: #9d1919;
  --c3: #f3f3c9;
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}


main {
    padding-inline:var(--gutter);
    padding-block: var(--vertical);
}

h1 {
    font-size: var(--heading-copy);
}
ul {
    padding-inline: var(--gutter);
    display: grid;
    gap: var(--gutter);
}

.reverse{
    color: var(--bg-color);
    background-color: var(--color);
    padding-inline: var(--gutter);
    padding-block: var(--vertical);
}